# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
defaults:
  -scope:
    path: ""
    type: "pages"
  values:
    layout: "page"

collections:
- documentation
- bridges

collections_dir: content

collections:
  documentation:
    output: true
    permalink: /:collection/:title/
  bridges:
    output: true
    permalink: /:collection/:title/

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Thesis Documentation
email: maria.bermudez@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  Hello, my name is Maria and I'm a communication design student at the University for Applied Sciences. In my Bachelor Thesis
  I want to create bridges between cultures, especially between Mexico, Ghana and Germany. This site is meant to document my process. Have fun exploring !! 
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://mariabermudez.de" # the base hostname & protocol for your site, e.g. http://example.com
# twitter_username: jekyllrb
# github_username:  jekyll

# Build settings
markdown: kramdown
theme: minima
highlighter: rouge
plugins:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
