<h2 id="procedure">Procedure</h2>
<a href="{{assets/pdf/challenge.pdf | relative_url}}">
    <img border="0" alt="W3Schools" src="{{assets/images/challenge/PDF_file_icon.png | relative_url}}" width="32" height="32">
</a>

<p>Follow the instructions below. You can download them as pdf <a href="https://makeyourownapp.github.io/chatter-app/challenges_pdf/challenge08.pdf" target="_blank">here</a>. Build upon your solution from the previous challenge and upload everything for peer assessment after you finish.</p>

<p>There are different exercise types: </p>

<ul>
<li><p>These exercises are important and you should tackle them</p></li>

<li><p>(*) These asterisk-marked exercises marked are a bit more difficult and thus voluntary. They will improve your skills, tackle them only if you want an extra challenge. However, your app will also work without fulfilling the instruction.</p></li>
</ul>

<p><strong>Prioritize the challenges. Don't spend too much time on the voluntary challenges!</strong></p>

<h2 id="challengegoal">Challenge Goal</h2>

<p>This is how your app looks like after this <strong>challenge 8</strong>.</p>

<p><img src="https://makeyourownapp.github.io/chatter-app/challenges_desc/snapshots/challenge-goal-8.png" alt="" /></p>